.DT-heading {
  font-style: italic;
  margin-top: 0;
}
h1 {
  margin-bottom: 0;
}
.byline {
  font-size: 13px;
  color: #C0C0C0;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.heading {
  font-size: 20px;
  margin-bottom: 0;
}
.orange-links {
  color: #BF5700;
}
.description {
    margin-top: 0;
}
.Pulitzer {
  background-color: #d3d3d3;
  padding: 20px;
  margin: 10px;
}
.Pulitzerheading {
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.Pulitzerbyline {
  font-size: 15px;
  color: #C0C0C0;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.Pulitzerdescription {
  margin-top: 0;
  margin-bottom: 0;
}
.dotcom {
  border-bottom: solid;
  border-color: green;
  margin-bottom: 3px;
}
ul {
  margin-top: 3px;
}
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    overflow: auto;
  }
body {
  background-color: #a9a9a9;
}
* {
  box-sizing: border-box; /* css hack 3 */
}
@media (min-width: 700px) {
  .left-column {
    float: left;
    width: 70%;
    padding: 5px;
  }
  .right-column {
    float: right;
    width: 30%;
    padding: 5px;
  }
}
